* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 30px;
}

h1 {
    padding-bottom: 2em;
}
p{
    padding: 1em;
}
#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.2em;
}

.btn-box {
    height: 2em;
    width: 2em;
    text-align: center;
    border-radius: 0.3em;
    background-color: #f4f1f1;
    font-size: 1em;
    cursor: pointer;
    color: black;
    border: 2px solid white;
}
.btn-box:hover{
    transform: scale(1.05); 
    background-color: white;
}
.reset{
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.8em;
    background-color: darkred;
    border: none;
    color: white;
    font-size: 0.5em;
    align-items: normal;
    cursor: pointer;
}
.reset:hover{
    background-color: rgb(193, 17, 17);
    transform: scale(1.05); 
}